baloofileinformationrc
clangd/
Code/
Code - OSS/
cursor/
Cursor/
dconf/
DocumentManager/
dolphinrc
fish/
go/
gtk-3.0/
gtk-4.0/
Happ/
Happ.conf
htop/
kitty/
Kitware/
menus/
mimeapps.list
mozilla/
mpv/
qBittorrent/
Throne/    
xsettingsd/
qt6ct/
Thunar/
yay/
QtProject/
trashrc                   
QtProject.conf
vs-code/
nwg-displays/
session/
nwg-look/
pulse/
spotify/
xfce4/
hypr/wallpapers/*.mp4
hypr/wallpapers/*.mkv
hypr/wallpapers/*.mov
hypr/wallpapers/*.avi
hypr/wallpapers/*.webm
hypr/wallpapers/*.m4v
hypr/wallpapers/*.mpg
hypr/wallpapers/*.mpeg
hypr/wallpapers/*.flv
hypr/wallpapers/*.wmv
